.educationNavItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1.4rem;
    cursor: pointer;

    &__labelWrapper {
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }

    &--active {
        background-color: #e2e8f0;
        border-radius: 1rem;
        color: #000;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    }
}