.chartWrapper {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 2rem;
    margin-top: 3rem;

    .chartContainer {
        position: relative;
        background-color: #000;
    }

    .chartTitle {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 2.8rem;
        font-weight: normal;
        letter-spacing: 0.5px;
    }

    .legend {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-top: 1.5rem;

        .legendItem {
            display: flex;
            align-items: center;
            gap: 1rem;

            .colorBox {
                width: 1.8rem;
                height: 1.6rem;
            }

            .label {
                color: #fff;
                font-size: 1.6rem;
                font-weight: bold;
                letter-spacing: 0.5px;
            }
        }

        svg {
            position: absolute;
            top: 80px;
            left: 0;
        }
    }
}