.panelBody {
    .cotPositionsHeader {
        background-color: #E7E7E7;
        width: 85%;
        margin: auto;
        margin-top: 3rem;
        padding: 2rem;
        text-align: center;

        &__label {
            color: black;
            font-size: 1.7rem;
        }
    }

    .cotInfoSection {
        padding: 0 3rem;
    }
}