.panelBody {
    padding: 0rem 3rem;
    padding-top: 3.7rem;

    .basicFundamentalsList {
        .basicFundamentalsList__item {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            position: relative;
            padding-left: 3rem;

            &:not(:last-child) {
                padding-bottom: 1.5rem;
            }

            &::before {
                content: "•";
                position: absolute;
                left: 0;
                top: -1.4rem;
                font-size: 4rem;
                color: #000;
            }
        }

        .basicFundamentalsList__label {
            color: black !important;
            font-size: 1.75rem;
        }
    }
}