.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    color: #6B7280;
    font-size: 1.4rem;
}

.select {
    display: flex;
    border: 1px solid #E5E7EB;
    border-radius: 0.5rem;
    padding: 1.2rem;
    color: black;
    margin-bottom: 1.7rem;
    background-color: white;
    font-size: 1.4rem;

    /* Custom arrow */
    appearance: none;
    /* Removes default browser arrow */
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    /* Push arrow to right side */
    background-size: 2rem;
}