.table {
    width: 100% !important;
    min-width: 100% !important;
    border-collapse: unset !important;
    border-spacing: unset !important;
    border: unset !important;
    margin: unset !important;
    padding: unset !important;
    outline: unset !important;
    vertical-align: unset !important;
    caption-side: unset !important;
    empty-cells: unset !important;
    table-layout: unset !important;
}