.tbody {
    border: unset !important;
    margin: unset !important;
    padding: unset !important;
    outline: unset !important;
    vertical-align: unset !important;
    background: unset !important;
    background-color: unset !important;
    background-image: unset !important;
    background-repeat: unset !important;
    background-attachment: unset !important;
    background-position: unset !important;
}