.td {
    color: #000000;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    margin: unset !important;
    outline: unset !important;
    vertical-align: unset !important;
    background-image: unset !important;
    background-repeat: unset !important;
    background-attachment: unset !important;
    background-position: unset !important;
}

.light {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}