.thead {
    border: unset !important;
    width: 100% !important;
    margin: unset !important;
    padding: unset !important;
    outline: unset !important;
    vertical-align: unset !important;

    th:first-child {
        border-left: 3px solid var(--border-color);
    }

    th:last-child {
        border-right: 3px solid var(--border-color);
    }
}