.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    font-family: Arial, sans-serif;
}


.title {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-top: 1.2rem;
}

.chart {
    position: relative;
    margin: 0 auto;
    background-color: #000;
}

.scrollWrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 3rem;
}

.chart {
    min-width: 1200px;
}

.gridLine {
    position: absolute;
    left: 60px;
    right: 0;
    height: 2px;
    background-color: #333;
}

.gridLabel {
    position: absolute;
    left: 20px;
    color: white;
    font-size: 14px;
}

.bar {
    position: absolute;
    border-radius: 10px 10px 0 0;

    &.positive {
        background-color: #4caf50;
        border-radius: 10px 10px 0 0;
    }

    &.negative {
        background-color: #f44336;
        border-radius: 0 0 10px 10px;
    }
}

.valueLabel {
    position: absolute;
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.monthLabel {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 14px;
}

.zeroLine {
    position: absolute;
    left: 60px;
    right: 0;
    height: 2px;
    background-color: #666;
}