@use '@/styles/mixins' as *;

.riskModeSummaryContainer {
    display: flex;
    gap: 6rem;

    @include tablet {
        flex-direction: column;
        gap: 3rem;
    }

    .riskModeWrapper {
        width: 40%;

        @include tablet {
            width: 100%;
        }

        .scoreHeader {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }

    .currencyStrengthIndex {
        width: 60%;

        @include tablet {
            width: 100%;
        }

        .currencyStrengthIndexGuageCharts {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .chartRow {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3rem;

                .chartWrapper {
                    display: flex;
                    gap: 3rem;

                    @include mobile {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

.guageChartWrapper {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .guageChartTitle {
        color: #000000;
        font-weight: 500;
        font-size: 2.6rem;
    }
}