@use '@/styles/mixins.scss' as *;

.dashboard-overview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
}

.dashboard-overview--center {
    display: flex;
    align-items: center;
}