@import '@/styles/mixins.scss';

.navigationCard {
    display: flex;
    align-items: center;
    justify-content: center;

    .navigationCard__heading {
        color: #151D48;
        font-size: 4.6rem;
        font-weight: 400;
    }
}