.tableContainer {
    width: 100%;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    overflow: auto !important;
    padding-bottom: 2.5rem;
    scrollbar-width: auto;
    scrollbar-color: auto;
}

.tableContainer::-webkit-scrollbar {
    height: 11px;
    width: 11px;
}

.tableContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-left: 8px;
    margin-right: 8px;
}

.tableContainer::-webkit-scrollbar-thumb {
    background: #bebfcf;
    border-radius: 0;
}

.tableContainer::-webkit-scrollbar-button {
    display: none;
}

.tableContainer::-webkit-scrollbar-button:horizontal:decrement:start {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    height: 14px;
    width: 22px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 8 11'%3e%3cpath fill='black' d='M8 0 L8 11 L0 5.5 Z'/%3e%3c/svg%3e");
    background-position-x: right;
    margin-left: 5px;
}

.tableContainer::-webkit-scrollbar-button:horizontal:increment:end {
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    height: 14px;
    width: 22px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 8 11'%3e%3cpath fill='black' d='M0 0 L0 11 L8 5.5 Z'/%3e%3c/svg%3e");
    background-position-x: left;
    margin-right: 5px;
}

.table {
    width: max-content;
    border-collapse: collapse;
    border: unset !important;
    outline: unset !important;
    vertical-align: unset !important;
    caption-side: unset !important;
    empty-cells: unset !important;
    table-layout: unset !important;
    width: -webkit-max-content;
    width: -moz-max-content;
    border-spacing: 0;
}

.table--cellPaddingLarge {
    td {
        padding: 1.3rem 4rem;
    }
}

.table--bordered {
    border: 2px solid black !important;

    td,
    th {
        border: 2px solid black !important;
    }
}

.table--rounded-top {
    border-collapse: separate;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.table--border-spacing {
    background-color: #C0B7B7;
    border-collapse: separate;
    border-spacing: 3.5px;
    margin: -3.7px !important;
    clip-path: inset(0 5px 5px 0);
}

.table--border-small-spacing {
    margin: -1.6px !important;
    clip-path: inset(0 3px 3px 0) !important;
}