.pie-chart-container {
    flex-grow: 1;
    background-color: #FCFCFC;
    border: 1px solid #efefef;
    padding: 1rem 1.5rem;

    .heading {
        color: #000000;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        margin: 0;
        letter-spacing: 1px;
    }

    :global(.recharts-cartesian-axis-ticks) {
        display: none !important;
    }
}